/* Fuentes */
@font-face {
    font-family: 'Cormorant Upright';
    src: url('fonts/CormorantUpright-Light.ttf');
    
}


header{
    box-shadow: 1.5px 1.5px 4px #b3b3b3;  /*sombra*/
    position: fixed;
    width: 100%;
}

body{
    font-family: 'Cormorant Upright', serif;
    
}

.noticias {
    background: rgb(0, 0, 0);
    background-image:linear-gradient(95deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%), url('img/hojas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem 2rem;
}

.cajita {
    background-color: rgba(255,220,0,255);
    margin-top: -5rem;
    margin-left: 65rem;
    padding: 1rem 3rem;
    
}

.fila{
    display: flex;
    
}

.accion {
    background-image: url('img/manos-planta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Con este se queda la imagen quieta y se ve de arriba a abajo*/
    padding: 12rem 2rem;
}