/* Fuentes */
@font-face {
    font-family: 'Cormorant Upright';
    src: url('fonts/CormorantUpright-Light.ttf');
    
}


header{
    box-shadow: 1.5px 1.5px 4px #b3b3b3;  /*sombra*/
    position: fixed;
    width: 100%;
}

body{
    font-family: 'Cormorant Upright', serif;
    
}

.noticias {
    background: rgb(0, 0, 0);
    background-image:linear-gradient(95deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%), url('img/hojas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 2rem;
}

.cajita1 {
    background-color: rgba(255,220,0,255);
    margin-top: -5rem;
    padding: 1rem 3rem;
    
}

.fila{
    display: flex;
    
}

.accion {
    background: rgb(33,136,209);
    background-image:linear-gradient(95deg, rgba(31,126,199,0) 19%, rgba(31,126,199,0.3519782913165266) 50%, rgba(222,175,12,0.80015756302521) 100%), url('img/manos-planta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Con este se queda la imagen quieta y se ve de arriba a abajo*/
    padding: 12rem 2rem;
}

.publicacion {
    background: rgb(33,136,209);
    background-image:linear-gradient(95deg, rgba(222, 177, 12, 0.514) 5%, rgba(31,126,199,0.3519782913165266)  100%), url('img/beautiful-shot-of-cayo-cangrejo-providencia-in-colombia-with-cloudy-blue-sky2.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 12rem 2rem;
}

.col-50{
    width: 50%;
    background-color: rgb(22, 13, 0);
    padding: 3rem 3rem;
}